<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des villes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex flex-col h-screen">
    <div th:replace="layout :: navbar"></div>
    <section th:fragment="content" class="flex-1 overflow-auto my-4">
        <div class="container mx-auto px-4 my-4 h-4/5">
            <div class="relative shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="sticky top-0 z-10 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6">Ville</th>
                            <th scope="col" class="py-3 px-6">Nombre d'habitants</th>
                            <th scope="col" class="py-3 px-6">Départment</th>
                            <th scope="col" class="py-3 px-6">Code département</th>
                            <th scope="col" class="py-3 px-6">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="town:${towns}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td th:text="${town.name}" class="py-4 px-6"></td>
                            <td th:text="${town.population}" class="py-4 px-6"></td>
                            <td th:text="${town.department.name}" class="py-4 px-6"></td>
                            <td th:text="${town.department.code}" class="py-4 px-6"></td>
                            <td class="py-4 px-6">
                                <a th:href="@{${requestURI} + '/delete/' + ${town.id}}" class="font-medium text-red-600 hover:text-red-700 hover:underline">Delete</a>
                            </td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(towns)}">
                            <td colspan="5" class="text-center py-4 px-6">No towns available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>