<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des villes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex flex-col h-screen">
    <div th:replace="layout :: navbar"></div>
    <section th:fragment="content">
    <div class="container mx-auto px-4 my-4 overflow-auto">
        <div class="relative shadow-md sm:rounded-lg flex-1">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="sticky top-0 z-10 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">Ville</th>
                    <th scope="col" class="py-3 px-6">Nombre d'habitants</th>
                    <th scope="col" class="py-3 px-6">Départment</th>
                    <th scope="col" class="py-3 px-6">Code département</th>
                    <th scope="col" class="py-3 px-6">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="town:${towns}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td th:text="${town.name}" class="py-4 px-6"></td>
                    <td th:text="${town.population}" class="py-4 px-6"></td>
                    <td th:text="${town.department.name}" class="py-4 px-6"></td>
                    <td th:text="${town.department.code}" class="py-4 px-6"></td>
                    <td class="py-4 px-6">
                        <a th:href="@{${requestURI} + '/delete/' + ${town.id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </section>
</body>
</html>